<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainlist.html</title>
    <link rel="stylesheet" href="/gram.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="profile-wrap">
            <div class="profile">
                <div class="field">
                    <label><span id="nickname"></span> 님 안녕하세요</label>
                </div>
                <div class="field" style="display: flex; flex-direction: row;">
                    <div style="flex:1; font-weight:bold; text-align: center;">
                        팔로워<br /><span id="followers"></span>
                    </div>
                    <div style="flex:1; font-weight:bold;  text-align: center;">
                        팔로잉<br /><span id="followings"></span>
                    </div>
                </div>
                <div class="btns">
                    <input type="button" value="회원정보상세" onClick="location.href='/user/userdetail'">
                    <input type="button" value="로그아웃" onClick="location.href='/user/logout'">
                    <input type="button" value="피드작성" onClick="location.href='/feed/feedWriteForm'">
                </div>
            </div>
        </div>
    </div>
</body>
</html>